<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <style></style>
    <title>Appointment</title>
  </head>

  <body>
    <div class="top-bar-1">
      <a href="/patient/profile">Profile</a>
      <a href="/patient/find-therapist">Find Therapists</a>
      <a href="/patient/appointments">My Appointments</a>
      <a href="/patient/reports">My Reports</a>
      <a href="/patient/exercises">My Exercises</a>
      <a href="/feedback">Feedback</a>
      <a href="/">Logout</a>
    </div>

    <div class="dialog-content">
      <h2>Schedule Appointment</h2>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Time</th>
            <th>Mon, 10</th>
            <th>Tue, 11</th>
            <th>Wed, 12</th>
            <th>Thu, 13</th>
            <th>Fri, 14</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="time">09:00 - 09:30</td>
            <td class="available">available</td>
            <td class="unavailable">unavailable</td>
            <td class="available">available</td>
            <td class="available">available</td>
            <td class="unavailable">unavailable</td>
          </tr>
          <tr>
            <td class="time">09:30 - 10:00</td>
            <td class="available">available</td>
            <td class="unavailable">unavailable</td>
            <td class="available">available</td>
            <td class="unavailable">unavailable</td>
            <td class="available">available</td>
          </tr>
          <tr>
            <td class="time">10:00 - 10:30</td>
            <td class="available">available</td>
            <td class="available">available</td>
            <td class="unavailable">unavailable</td>
            <td class="available">available</td>
            <td class="unavailable">unavailable</td>
          </tr>
          <tr>
            <td class="time">10:30 - 11:00</td>
            <td class="available">available</td>
            <td class="available">available</td>
            <td class="unavailable">unavailable</td>
            <td class="available">available</td>
            <td class="unavailable">unavailable</td>
          </tr>
          <tr>
            <td class="time">11:00 - 11:30</td>
            <td class="available">available</td>
            <td class="available">available</td>
            <td class="unavailable">unavailable</td>
            <td class="available">available</td>
            <td class="unavailable">unavailable</td>
          </tr>
          <tr>
            <td class="time">11:30 - 12:00</td>
            <td class="available">available</td>
            <td class="available">available</td>
            <td class="unavailable">unavailable</td>
            <td class="available">available</td>
            <td class="unavailable">unavailable</td>
          </tr>
        </tbody>
      </table>
    </div>
    <script src="../static/js/login.js"></script>
  </body>
</html>
