<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Therapist – Assign Exercises</title>
    <link rel="stylesheet" href="../static/css/exercises_the.css" />
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body class="profile-body">
    <div class="top-bar-2">
      <a href="/therapist/profile">Profile</a>
      <a href="/therapist/appointments">My Appointments</a>
      <a href="/therapist/reports">Patient Reports</a>
      <a href="/therapist/exercises">Assign Exercises</a>
      <a href="/">Logout</a>
    </div>

    <br /><br />
    <button id="Its4alreadyy">Assign Exercise</button>

    <div class="hahaha">Tongue &amp; Lip Exercises</div>
    <div class="Ineedfood">
      <div class="IamHungry">
        <div class="Ihateittt Ilovetoeat">Tongue In-and-Outs</div>
        <div class="Ihateittt NoIDont" style="padding: 0 20px 0 20px">
          Stick the tongue out as far as possible and hold it for 2 seconds,
          then pull it back in. Hold for 2 seconds, and repeat. This helps train
          the tongue to move in coordinated patterns, which will help improve
          speech production.
        </div>
      </div>

      <div class="IamHungry">
        <div class="Ihateittt Ilovetoeat">Side-to-Side Tongue Movements</div>
        <div class="Ihateittt NoIDont" style="padding: 0 20px 0 20px">
          For this speech therapy exercise, open the mouth and move the tongue
          to touch the right corner of your mouth. Hold for 2 seconds, then
          touch the left corner of the mouth. Hold for 2 seconds, and repeat.
        </div>
      </div>

      <div class="IamHungry">
        <div class="Ihateittt Ilovetoeat">Up-and-Down Tongue Movements</div>
        <div class="Ihateittt NoIDont" style="padding: 0 20px 0 20px">
          Open the mouth and stick out the tongue. Then, reach the tongue up
          toward the nose. Hold for 2 seconds, then reach the tongue down toward
          the chin. Hold for 2 seconds, and repeat.
        </div>
      </div>

      <div class="IamHungry">
        <div class="Ihateittt Ilovetoeat">Lip Puckers</div>
        <div class="Ihateittt NoIDont" style="padding: 0 20px 0 20px">
          Start with the mouth relaxed. Then, pucker the lips together as if
          kissing, holding this position for 2 seconds. Relax for 2 seconds, and
          repeat. For an extra challenge in motor precision and control,
          practice puckering as slowly as possible.
        </div>
      </div>
    </div>

    <br />
    <div class="hahaha">Speaking &amp; Verbalization</div>
    <div class="Ineedfood">
      <div class="IamHungry">
        <div class="Ihateittt Ilovetoeat">
          Consonant &amp; Vowel Pairing Repetition
        </div>
        <div
          class="Ihateittt NoIDont"
          style="padding: 0 20px 0 20px; font-size: 23px"
        >
          Start by writing down which consonants are difficult to speak. Then,
          one at a time, pair each of these consonants with each of the 5 vowels
          (a, e, i, o, u). For example, those who have trouble with the “r”
          sound can practice saying “ra, re, ri, ro, ru” repetitively. For an
          extra challenge, try this with all of the consonants.
        </div>
      </div>

      <div class="IamHungry">
        <div class="Ihateittt Ilovetoeat">Sentence Production</div>
        <div
          class="Ihateittt NoIDont"
          style="padding: 0 20px 0 20px; font-size: 21px"
        >
          Disorders such as apraxia of speech have no trouble with the cognitive
          components of language production. However, their ability to move the
          lips and tongue is impaired. Therefore, reading aloud can provide
          those with apraxia of speech an opportunity to practice speaking.
          While this is also an excellent exercise for individuals with aphasia,
        </div>
      </div>

      <div class="IamHungry">
        <div class="Ihateittt Ilovetoeat">Phonological Processing</div>
        <div
          class="Ihateittt NoIDont"
          style="padding: 0 20px 0 20px; font-size: 21px"
        >
          For this exercise, ask a family member or caregiver to state various
          words. Then guess how many syllables are in each word they say. Family
          members or caregiver should always give feedback as to whether the
          answer was correct or incorrect. The feedback is an essential part of
          what makes this exercise therapeutic.
        </div>
      </div>

      <div class="IamHungry">
        <div class="Ihateittt Ilovetoeat">Mirror practice</div>
        <div class="Ihateittt NoIDont" style="padding: 0 20px 0 20px">
          Stand in front of a mirror and say the sounds you are struggling with.
          Focus on making the correct mouth and tongue movements.
        </div>
      </div>
    </div>

    <br />
    <div class="hahaha">Tongue Exercises</div>
    <div class="Ineedfood">
      <div class="IamHungry">
        <div class="Ihateittt Ilovetoeat">Front Side 1</div>
        <div class="Ihateittt NoIDont">Back Side 1</div>
      </div>

      <div class="IamHungry">
        <div class="Ihateittt Ilovetoeat">Front Side 1</div>
        <div class="Ihateittt NoIDont">Back Side 1</div>
      </div>

      <div class="IamHungry">
        <div class="Ihateittt Ilovetoeat">Front Side 1</div>
        <div class="Ihateittt NoIDont">Back Side 1</div>
      </div>

      <div class="IamHungry">
        <div class="Ihateittt Ilovetoeat">Front Side 1</div>
        <div class="Ihateittt NoIDont">Back Side 1</div>
      </div>
    </div>

    <script src="../static/js/script.js"></script>
  </body>
</html>
