<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile Page</title>
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body class="profile-body">
    <div class="top-bar-1">
      <a href="/patient/profile">Profile</a>
      <a href="/patient/find-therapist">Find Therapists</a>
      <a href="/patient/appointments">My Appointments</a>
      <a href="/patient/reports">My Reports</a>
      <a href="/patient/exercises">My Exercises</a>
      <a href="/feedback">Feedback</a>
      <a href="/">Logout</a>
    </div>

    <div class="container-my-therapist">
      <h1>Find a Therapist in Your Area</h1>

      <!-- Pincode input and search button -->
      <label for="pincode">Enter Pincode:</label>
      <input type="text" id="pincode" placeholder="Enter your pincode" />
      <button id="findDoctorsBtn">Find Doctors</button>

      <!-- Container for doctor cards -->
      <div id="doctorCards"></div>
    </div>

    <script src="../static/js/therapist.js"></script>
  </body>
</html>
