<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Therapists</title>
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <div class="top-bar-3">
      <a href="/supervisor/profile">Profile</a>
      <a href="/supervisor/therapists">Therapist`s Report</a>
      <a href="/supervisor/reports">Reports</a>
      <a href="/">Logout</a>
    </div>
    <div class="therapists-container">
      <table class="therapist-table">
        <p class="table-head">Trainee Therapists</p>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Qualifications</th>
          <th>Active Cases</th>
          <th>Solved Cases</th>
          <th>Approved Plans</th>
          <th>Disapproved Plans</th>
        </tr>
        <tr>
          <td>Dr. Salunke Mishra</td>
          <td>28</td>
          <td>MBBS</td>
          <td>9</td>
          <td>27</td>
          <td>27</td>
          <td>7</td>
        </tr>
        <tr>
          <td>Dr. Alak Sharma</td>
          <td>30</td>
          <td>MBBS</td>
          <td>11</td>
          <td>29</td>
          <td>24</td>
          <td>9</td>
        </tr>
      </table>
    </div>
    <script src="../static/js/therapist.js"></script>
  </body>
</html>
