<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Therapists</title>
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <div class="top-bar-2">
      <a href="/therapist/profile">Profile</a>
      <a href="/therapist/appointments">My Appointments</a>
      <a href="/therapist/reports">Patient Reports</a>
      <a href="/therapist/exercises">Assign Exercises</a>
      <a href="/">Logout</a>
    </div>

    <div class="therapists-container">
      <table class="therapist-table">
        <p class="table-head">Active Therapy Patients</p>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Gender</th>
          <th>Sessions Conducted</th>
          <th>Disorder</th>
          <th>Prescribed Plans</th>
          <th>Progress</th>
        </tr>
        <tr>
          <td>Rahul Varma</td>
          <td>38</td>
          <td>Male</td>
          <td>7</td>
          <td>Articulation</td>
          <td>Speech Sound Practice</td>
          <td>40%</td>
        </tr>
        <tr>
          <td>Sonia Shah</td>
          <td>27</td>
          <td>Female</td>
          <td>11</td>
          <td>Ankyloglossia</td>
          <td>Minimal Pairs</td>
          <td>27%</td>
        </tr>
      </table>
    </div>

    <script src="../static/js/therapist.js"></script>
  </body>
</html>
